<h4><strong>商品一覧</strong></h4>
<h5><%= link_to "新規登録はこちら", new_admin_item_path %></h5>
  <table class="table table-bordered" style="margin-top: 20px;">
  	<thead class = "thead-dark">
	  <tr>
	    <th>商品ID</th>
		<th>商品名</th>
		<th>税抜価格</th>
		<th>ジャンル</th>
		<th>ステータス</th>
	  </tr>
    </thead>
	  <tbody>
	  	<% @items.each do |item| %>
	    <tr>
		  <td>
			<%= item.id %>
		  </td>
		  <td>
			<%= link_to item.name, admin_item_path(item) %>
		  </td>
		  <td>
			<%= item.price %>
		  </td>
		  <td>
		  	<%= item.genre.name %>
		  </td>
          <td>
          	<%= item.is_active ? "販売中" : "売切中" %>
          </td>
      </tr>
	  </tbody>
	<% end %>
  </table>

  <div class="row text-center">
    <%= paginate @items, class: "paginate" %>
  </div>