
<h3>商品新規登録</h3>
  <%= form_for [:admin, @item] do |f| %>
    <%= f.attachment_field :image %>

  <h5>商品名</h5>
    <%= f.text_field :name %>

  <h5>商品説明</h5>
    <%= f.text_area :introduction %>

  <h5>税抜価格</h5>
    <%= f.text_field :price %>円

  <h5>ジャンル</h5>
    <%=f.collection_select :genre_id, @genres, :id, :name, { prompt: '選択してください' } %>

  <h5>販売ステータス</h5>
    <%= f.select :is_active, [["販売中", "true"], ["売切中","false"]], include_blank: "選択して下さい" %>

     <%= f.submit '新規登録',class: "btn-sm btn-primary edit_book_#{@item.id}" %>
    <% end %>