<div class="container">
	<div class="row">	
		<h2><%= @customer.last_name %><%= @customer.first_name %>の会員詳細</h2>
	</div>

	<div class="row">	
		<table class="table table-borderless">
			<tr>
				<th>顧客ID</th>
				<th><%= @customer.id %></th>
				<th>
					<% if @customer.is_deleted == false %>
					<div class="bg-info d-inline text-white p-1 ml-3 rounded">
					有効会員
					</div>
					<% else %>
					<div class="bg-danger d-inline text-white p-1 ml-3 rounded">
					退会済み
					</div>
					<% end %>
				</th>
			</tr>
			<tr>
				<th>氏名</th>
				<th><%= @customer.last_name %><%= @customer.first_name %></th>
			</tr>
			<tr>
				<th>カナ</th>
				<th><%= @customer.last_name_kana %><%= @customer.first_name_kana %></th>
			</tr>
			<tr>
				<th>郵便番号</th>
				<th><%= @customer.postal_code %></th>
			</tr>
			<tr>
				<th>住所</th>
				<th><%= @customer.address %></th>
			</tr>
			<tr>
				<th>電話番号</th>
				<th><%= @customer.telephone_number %></th>
			</tr>
			<tr>
				<th>メールアドレス</th>
				<th><%= @customer.email %></th>
			</tr>
		</table>
		
		<%= link_to  edit_admin_customer_path(@customer), class:"btn btn-primary" do %>
		  <i class="fa fa-arrow-left"></i>
		  <span>編集する</span>
		<% end %>
		
		<%= link_to   admin_order_path(@customer.id), class:"btn btn-primary"  do %>
		  <i class="fa fa-arrow-left"></i>
		  <span>注文履歴一覧を見る</span>
		<% end %>
	</div>
</div>
