<!-- 配送先一覧・登録画面 -->

<div class="index-container" style="width:60%; margin: 20px auto;">

  <!-- 配送先登録フォーム -->
      <h2>配送先/一覧</h2>
      	<%= form_for @delivery, url:public_deliveries_path do |f| %>
    <table class="table table-bordered">
      <tr>
	    <th>郵便番号</th>
	    <td><%= f.text_field :postal_code, autofocus: true %></td>
	  </tr>
	  <tr>
	    <th>住所</th>
	    <td><%= f.text_field :address, autofocus: true, style: "width: 80%;" %></td>
	  </tr>
	  <tr>
	    <th>宛名</th>
	    <td><%= f.text_field :name, autofocus: true %></td>
	  </tr>
    </table>
    <%= f.submit "登録する", class:"btn btn-primary btn-md" %>
      <% end %>

  <!-- 配送先一覧/編集/削除/ -->
  <table class="table table-bordered" style="margin-top: 20px;">
  	<thead>
	  <tr>
	    <th>郵便番号</th>
		<th>住所</th>
		<th>宛名</th>
		<th></th>
	  </tr>
    </thead>
	<% @deliveries.each do |delivery| %>
	  <tbody>
	    <tr>
		  <td>
			<%= delivery.postal_code %>
		  </td>
		  <td>
			<%= delivery.address %>
		  </td>
		  <td>
			<%= delivery.name %>
		  </td>
		  
		  <td>
			<%= link_to "編集する", edit_public_delivery_path(delivery), class:"btn btn-primary btn-md" %></td>
		<td>
			<%= link_to "削除する", public_delivery_path(delivery), method: :delete, class:"btn btn-danger" %>
		  </td>
	    </tr>
	  </tbody>
	<% end %>
  </table>

</div>