
<h1>注文情報確認画面</h1>
<thead>
	<tr>商品名</tr>
	<tr>単価(税込)</tr>
	<tr>数量</tr>
	<tr>小計</tr>
</thead>

<%= form_for  @order,url: {action: 'create'} do |f| %>
支払い方法

<%= f.hidden_field :payment_method %>
<%= @order.payment_method %>

お届け先
<% if @order == "my addres" then %>
<%= current_customer.address %>
<% elsif @order == "addres" then %>
<%= f.collection_select :send_to_address, current_customer.deliveries, :id, :address %>
<% else %>

<%= form_with model: @order, url: confirm_public_orders_path do |f| %>
<% f.hidden_field :postal_code %>
<% f.hidden_field :address %>
<% f.hidden_field :name %>

<%= f.submit "購入を確定する" %>
<% end %>
<% end %>
<% end %>

<div class="container takasa">
	<h2>注文情報確認</h2>
	<%= form_for  @order,url: {action: 'create'} do |f| %>
	<!-- テーブル -->
	<div class="row">
		<div class="col-xs-6">
			<table align="left" class="table table-bordered">
				<tr>
					<th>商品名</th>
					<th>単価(税込)</th>
					<th>数量</th>
					<th>小計</th>
				</tr>
				<tbody>


				<% @cart_items.each do |cart_item| %>
				

					<tr>
						<td><%= cart_item.item.name %>
							

						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
			<div class="row">
				<div class="col-xs-4">
					<table class="table table-bordered">
						<tr>
							<th>送料</th>
							<th>800</th>
						</tr>
						<tbody>
							<tr>
								<th>商品合計</th>
								<td><%= @total%></td>
							</tr>
							<tr>
								<th>請求額</th>
								<td><%=800%></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div><br>
		<!-- テーブル end -->
		<p><strong>支払方法 </strong><%= @order.payment_method %></p><br>

		<p><strong>お届け先 </strong><%= @order.postal_code %> <%= @order.address %> <%= @order.name %></p><br>
		<%= f.hidden_field :payment_method ,:value => @order.payment_method %>
		<%= f.hidden_field :postage ,:value => 800 %>
		<%= f.hidden_field :address,:value => @order.address %>
		<%= f.hidden_field :postal_code,:value => @order.postal_code %>
		<%= f.hidden_field :name,:value => @order.name %>
		<%= f.hidden_field :total_fee ,:value => @total %><br><br>
		<div class="text-center">
			<%= f.submit "購入を確定する", class: "btn btn-success text-cenrer btn-lg" %>
		</div>
		<% end %>